NODE_ENV=development
PORT=3000

# PostgreSQL connection string
DATABASE_URL=postgresql://cv:cv@localhost:5433/cv?schema=public

# Профиль для возвращения query { profile } без аргумента slug
DEFAULT_PROFILE_SLUG=evgeny-ershov